@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global tweaks */
html, body, #__next {
  height: 100%;
}
body {
  @apply bg-gray-50 text-gray-900 antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Smooth image loading */
img {
  display: block;
  max-width: 100%;
}
